<div class="row">
  <div class="col">
    <h1>Recipe list</h1>
  </div>
</div>
<div class="row">
  <div class="col">
    <ul class="list-group">
      <% if @recipes.empty? %>
        <li class="list-group-item">No recipes saved.</li>
      <% else %>
        <% @recipes.each_with_index do |recipe, index| %>
        <li class="list-group-item d-flex align-items-center">
          <%= recipe.name %>
          <span class="badge badge-primary badge-pill"><%= recipe.difficulty %></span>
          <span class="badge badge-primary badge-pill"><%= recipe.prep_time %> mins</span>
          <a href="/delete/<%= index %>" class="ml-auto btn btn-outline-danger">Delete</a>
        </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
<div class="row text-center">
  <div class="col">
    <a href="/add" class="btn btn-primary">Add a new recipe</a>
  </div>
</div>
