a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 2em;
}

.recipe-controls .col .btn:first-child {
  margin-right: 5px;
}

.top-bar {
  background-color: lightblue;
  color: white;
  margin-bottom: 30px;
}

.easy {
  background-color: green ;
}

.medium {
  background-color: orange;
}

.hard {
  background-color: red;
}

.checkbox {
  margin-right: 10px;
}

.badge {
  margin: 0 5px 0 0;
}
